.useGroup:first-child
{
    border:none;
}

.useGroup
{
    border-left:1px solid black;
}

.purchasable, .useGroup h2
{
    border-bottom: 1px solid #556B2F;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.purchasable
{
    vertical-align:middle;
}

.purchasable:last-child
{
    border:none;
}

.purchasable:nth-child(even)
{
    background-color:#DED;
}

.columnTitles
{
    font-size:0.7em;
}

