.useGroup:first-child
{
    border:none;
}

.useGroup
{
    border-left:1px solid black;
}

.purchasable, .useGroup h2
{
    border-bottom: 1px solid #556B2F;
}

.purchasable
{
    vertical-align:middle;
}

.purchasable:last-child
{
    border:none;
}

.purchasable:nth-child(even)
{
    background-color:#DED;
}

.columnTitles
{
    font-size:0.7em;
}

